.alert-light {
  border-color: #bfbfbf;
}

.footer {
  width: 60%;
  margin-left: 15%;
}

.form-register.auth input {
  display: block;
  width: 98%;
  margin-top: 5px;
  border: 1px solid silver;
  padding: 2%;
}
